html {
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #2A2A2A #0A0A0A; /* Firefox */
}

body {
  background-color: #0A0A0A;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Scrollbar - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 30px; /* Make the vertical scrollbar thicker */
}

::-webkit-scrollbar-track {
  background: #0A0A0A; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #2A2A2A; /* Thumb color */
  border-radius: 8px; /* Round the edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #0066FF; /* Hover effect color */
}

/* Selection Color */
::selection {
  background-color: #0066FF;
  color: white;
}