html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background-color: #0A0A0A;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #2A2A2A;
  border-radius: 14px;

  /* Makes scrollbar look thick and clean */
  border: 6px solid #0A0A0A;
}

::-webkit-scrollbar-thumb:hover {
  background: #0066FF;
}

/* Selection Color */
::selection {
  background-color: #0066FF;
  color: white;
}